
.ShipmentInput {
    width: 100%;
}

.ShipmentInput__input {
  width: 400px;
  padding: 10px 14px;
  border: 1px solid rgba(234, 236, 240, 1);
  border-radius: 8px;
}

.ShipmentInput__label {
    font-weight: 600;
}
