
.ShipmentTable {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ShipmentTable__headerRow {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.ShipmentTable__shipments {
    margin-top: 12px;
    width: 100%;
}

.ShipmentTable__shipmentsHeader {
    font-weight: 600;
}

.ShipmentTable__shipmentsTable {
    width: 100%;
}